#synergy_imi #taxonomy_tree {
  overflow: auto;
  width: 100%;  
}

#synergy_imi #products_actions{
  margin-bottom: 20px;
}
  
#synergy_imi #current_path{
  margin-bottom: 15px;
}

#synergy_imi .pagination {
  padding-top: 0;
  float: right;
}

#synergy_imi #per_page_form {
  float: left;
}

#synergy_imi table.index td.actions {
  white-space: nowrap;
}

#synergy_imi table.index td.has_image {
  text-align: center;
}

#synergy_imi .actions a {
  margin: 0 0 0 5px;
}

/* Change availability green or red icon */
.change-availability {
    font-size: 120%;
    border: 1px solid #cee1f4;
    border-radius: 15px;
    width: 29px;
    height: 29px;
    display: inline-block;
    padding-top: 6px;
    vertical-align: bottom;
}

.change-availability.icon-check {
    background-color: #3fbd00;
}

.change-availability.icon-check-empty {
    background-color: #bd1f00;
}
