<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<% unless filters.empty? %>
  <% filters.each do |filter| %>
    <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
    <% next if labels.empty? %>
    <li>
      <% if filter[:name] == "Brand" %>
        <div class="sidebar-title">
          <span><%= filter[:name] %></span>
        </div>
        <% labels.each do |nm,val| %>
          <%= link_to nm, admin_display_brand_products_path(nm), style: "display: block;" %>
        <% end %>  
      <% end %>
    </li>
  <% end %>
<% end %>
