<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<% unless filters.empty? %>
  <% filters.each do |filter| %>
    <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
    <% next if labels.empty? %>
    <% if filter[:name] == "Brand" %>
      <% labels.each do |nm,val| %>
        <li style="height: 40px;">
          <%= link_to nm, admin_display_brand_products_path(nm), style: "display: block;" %>
        </li>
      <% end %>  
    <% end %>  
  <% end %>
<% end %>
